{% assign header = site.data.header %}
{% assign _primary = header.primary.links %}
      {% assign primary_links = site.data.navigation[_primary] | default: _primary %}
      {% if primary_links %}
        {% for _section in primary_links %}
          {% if _section.href == page.permalink %} 
          {% else %}
            {% if _section.links %}
                {% assign section_links = site.data.navigation[_section.links] | default: _section.links %}
                {% for _link in section_links %}
                    {% if _section.href == page.permalink %} 
                        {% assign bc_section = _section %}
                    {% else %}
                        {% if _section.sublinks %}
                        {% assign link_sublinks = site.data.navigation[_link.sublinks] | default: _link.sublinks %}
                          {% for _sublink in link_sublinks %}
                            {% if _sublink.href == page.permalink %} 
                                {% assign bc_section = _section %}
                                {% assign bc_sectionlink = _link %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
        
{% include components/breadcrumb.html %}
      {% endif %}