@use "uswds-core" as *;

.top-header {
    margin-top: .5em !important;
}

.m-top-0 {
    margin-top: 0 !important;
}

.no-display {
    display: none !important;
 }

 .max-tablet {
    max-width: 40em !important;
 }