{% assign signature = include.signature %}
<div class="usa-logo">
    {% if signature.logos %}
    <span class="agency-logo display-flex flex-align-center margin-right-2">
        {% for logo in logos %}
        <a href="{% if logo.href %}{{ logo.href }}{% else %}{{ site.baseurl }}/{% endif %}">
            <img class="usa-logo-img tablet:height-6 margin-1"
                src="{% if logo.external %}{{ logo.src }}{% else %}{{ logo.src | relative_url }}{% endif %}"
                alt="{{ logo.alt }}">
        </a>
        {% endfor %}
    </span>
    {% endif %}
    <a class="agency-logo-text"
        href="{% if signature.href %}{{ signature.href }}{% else %}{{ site.baseurl }}/{% endif %}"
        aria-label="{{ signature.logo.alt }}">
        <div class="agency-identity">
            <div class="agency-name usa-logo__text">{{ signature.title | default: site.title }}</div>
            {% if signature.tagline %}
            <div class="tagline">{{ signature.tagline }}</div>
            {% endif %}
        </div>
    </a>
</div>