{% if header %}
<div class="container header-inner-wrap">
    <div class="">
        <div class="agency-banner">
            <div class="agency-logo">
                {% if header.logo %}
                <span class="agency-logo">
                    <img id="block-farmers-update-branding" class=" lazyloaded" loading="lazy"
                        src="{% if header.logo.external %}{{ header.logo.src }}{% else %}{{ header.logo.src | relative_url }}{% endif %}"
                        alt="USDA Logo">
                </span>
                {% endif %}
                <a class="agency-logo-text"
                    href="{% if header.href %}{{ header.href }}{% else %}{{ site.baseurl }}/{% endif %}"
                    aria-label="{{ header.logo.alt }}">
                    <div class="agency-identity">
                        <div class="agency-name">{{ header.title | default: site.title }}</div>
                        {% if header.tagline %}
                        <div class="tagline">{{ header.title | default: site.tagline }</div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <button type="button" name="button" class="mobile-megamenu-button">MENU</button>
        </div>

        {% if site.search_site_handle %}
        {% include components/search.html %}
        {% endif %}

        {% assign _secondary = header.secondary %}
        <div class="utility-nav">

            <ul class="usa-unstyled-list utility-nav-links usa-nav-secondary-links">
                {% assign secondary_links = site.data.navigation[_secondary.links] | default: _secondary.links %}
                {% for _link in secondary_links %}
                <li>
                    <a href="{% if _link.external %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}"
                        {% if _link.class %} class="{{ _link.class }}" {% endif %}
                        {% if _link.title %} title="{{ _link.title }}"{% endif %}
                        aria-label="{{ _link.text }}" tabindex="0" >{{ _link.text }}</a>
                </li>
                {% endfor %}
            </ul>

            <!--<span class="utility-nav-buttons">
                <a class="btn tertiary utility-nav-links" href="/working-with-us/sign-in" title="LOG IN | SIGN UP">
                    LOG IN | SIGN UP
                </a>
            </span>-->

        </div>
    </div>
</div>

<nav class="primary-nav-wrap" aria-label="Navigation">


    <div class="container">
        <!--<div id="farmers-signin-mobile" class="card signin-mobile">
            <a href="/working-with-us/sign-in" title="Sign Up">LOG IN | SIGN UP <span class="arrow"
                    tabindex="-1"></span></a>
        </div>-->
        <div id="block-main" class="block block-tb-megamenu block-tb-megamenu-menu-blockmain">

            {% assign _primary = header.primary.links %}
            {% assign primary_links = site.data.navigation[_primary] | default: _primary %}
            {% if primary_links %}

            <div class="tb-megamenu tb-megamenu-main" role="navigation" aria-label="Primary Navigation">
                <ul class="tb-megamenu-nav nav level-0 items-{{ primary_links.size }}">
                    {% for _section in primary_links %}
                        {% if _section.links %}
                            {% include components/header/submenu.html %}
                        {% else %}
                        <li class="tb-megamenu-item level-1 mega"
                            data-id="menu_{{ _section.text }}" data-level="1"
                            data-type="menu_item" data-group="0" data-hidewcol="0" data-hidesub="0" data-label="{{ _section.text }}">
                            <a href="{% if _section.external %}{{ _section.href }}{% else %}{{ _section.href | relative_url }}{% endif %}" class="active-trail page-link {% if _section.href == page.permalink %} mm-active{% endif %}" data-label="/" data-category="{{ _section.text }}">
                                <div class="mm-nav-link">
                                    <div class="mm-top-level-title">{{ _section.text }}</div>
                                </div>
                            </a>
                        </li>
                        {% endif %}




                </ul>

            </div>

        </div>


        {% if site.search_site_handle %}
        <form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get"
          class="usa-search usa-search--small js-search-form">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="affiliate" id="affiliate" value="{{ site.search_site_handle }}" />
          <div role="search">
            <label for="query" class="usa-sr-only">Enter search terms</label>
            <input autocomplete="off" class="usa-input usagov-search-autocomplete" id="query" name="query"
              type="search" />
            <button class="usa-button" type="submit" name="commit">
              <img src="assets/uswds/img/usa-icons-bg/search--white.svg"
              class="usa-search__submit-icon"
              alt="Search" />
            </button>
          </div>
        </form>
        {% endif %}
    </div>
</nav>