---
layout: nav
title: Scinet News
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---


  {{ content }}

  {% assign myfilter = page.collect %}
  {% case myfilter %}
    {% when "announcements" %}
      {% assign myposts = site.announcements %}
      {% assign flow = 'reverse' %}
      {% assign post_type = 'calendar' %}
      {% assign no_date_below = true %}
    {% when "downtime" %}
      {% assign myposts = site.downtime %}
    {% when "events" %}
      {% assign myposts = site.events %}
    {% when "workshops" %}
      {% assign myposts = site.workshops %}
    {% else %}
      {% assign myposts = site.posts %}
      {% assign no_date_below = true %}
  {% endcase %}
  
  <ul class="usa-list usa-list--unstyled">
{% if flow == 'reverse' %}
  {% for _post in myposts reversed %} 
      {% include collection.html post=_post %}
  {% endfor %}
{% else %}
  {% for _post in myposts %} 
  
  <script>console.log("{{ _post.title }}")</script>
      {% include collection.html post=_post %}
  {% endfor %}
{% endif %}
</ul>