---
layout: nav
title: Training and Events
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---


  {{content}}

  {% assign tags = site.events | map: 'tags' | uniq %}
  {% assign providers = site.events | map: 'provider' | uniq %}
  {% assign sort_list = true %}

  {% assign pagetitle = page.title | slugify %}
  
  {% assign cal_id = pagetitle | prepend: "cal-" %}

  {% include components/cal_filter.html %}
  

  {% if page.type == "future" %}
  {% assign all_events = site.events | where: 'future', 'show' %}
  {% assign upcoming = all_events | where_exp: "post", "post.date >= site.time" %}
  {% assign post_type = 'calendar' %}
  {% for post in upcoming %}
  {% include components/collection.html %}
  {% endfor %}
  {% elsif page.type == "archive" %}
  {% assign archive_events = site.events | where_exp: "post", "post.date < site.time" %}
  {% for post in archive_events reversed %}
  {% include components/collection.html %}
  {% endfor %}
  {% else %}
  {% for post in site.events reversed %}
  {% include components/collection.html %}
  {% endfor %}
  {% endif %}